<!DOCTYPE html>
<html>
    <header>
        <meta></meta>
        <title>test</title>
    </header>
    <body>
        <input name="file" type="file" onchange="test()"><br>
        <div id="preview">
            <img src="" width="100">
        </div>
    </body>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/qiniu-js/3.4.0/qiniu.min.js"></script> -->
    <script type="text/javascript" src="https://cdn.staticfile.org/qiniu-js/3.4.0/qiniu.min.js"></script>
    <script>
        function getToken(){
            return new Promise ((resolve,reject)=>{
                var token
                xhr = new XMLHttpRequest()
                xhr.onreadystatechange = ()=>{
                    if (xhr.readyState==4 && xhr.status==200) {
                        var res = JSON.parse(xhr.responseText)
                        token = res.token
                        console.log("state change", token)
                        resolve(token)
                    }else{
                        console.log("token err", xhr.response)
                        // reject(xhr)
                    }
                }
                xhr.open("GET","http://192.168.8.222:5355/v1/qiniu", true)
                // xhr.setRequestHeader("Content-Type", "application/octet-stream");
                // xhr.setRequestHeader("Authorization", "UpToken 填写你从服务端获取的上传token");
                xhr.send()
            })
        }
        async function test(){
            var file = document.getElementsByName("file")[0].files[0]
            var key = "user/"+file.name

            var token = await getToken()

            const options = {
                quality: 0.92,
                noCompressIfLarger: true
                // maxWidth: 1000,
                // maxHeight: 618
            }
            qiniu.compressImage(file, options).then(data=>{
                const putExtra = {
                    fname: "",
                    mimeType: ['image/png', 'image/jpeg', 'image/gif'],
                    // customVars: { 'x:test': 'qiniu' },
                    // metadata: { 'x-qn-meta': 'qiniu' },
                }
                const config = {
                    useCdnDomain: true,
                    region: qiniu.region.z2
                }
                const observable = qiniu.upload(
                    data.dist,
                    key, 
                    token, 
                    putExtra, 
                    config
                )
                const observer = {
                    next(res){
                        // 主要用来展示进度
                        console.warn(res);
                    },
                    error(err){
                        // ...
                        console.log("err:", err.message)
                    },
                    complete(res){
                        // ...
                        console.log("sucess",res)
                        if (res.code == 0) {
                            console.log("上传成功")
                            var preview = document.getElementById("preview").children[0]
                            console.log(res.data)
                            preview.setAttribute("src", "http://r8hh137um.hn-bkt.clouddn.com/"+res.data.Key)
                        }
                    }
                }
                const subscription = observable.subscribe(observer) // 上传开始
                // subscription.unsubscribe() // 取消
            })

            // or
            // const subscription = observable.subscribe(next, error, complete) // 这样传参形式也可以
            // subscription.unsubscribe() // 上传取消

            // const imgLink = qiniu.imageView2({
            //     mode: 3,       // 缩略模式，共 6 种 [0-5]
            //     w: 100,        // 具体含义由缩略模式决定
            //     h: 100,        // 具体含义由缩略模式决定
            //     q: 100,        // 新图的图像质量，取值范围：1-100
            //     format: 'png'  // 新图的输出格式，取值范围：jpg，gif，png，webp 等
            // }, key="FqKXVdTvIx_mPjOYdjDyUSy_H1jr", domain="192.168.1.122")
        }
    </script>
</html>